body{
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    
}

.centered-button1, .centered-button2{
    padding: 15px 32px;
    border-radius: 20px;
    cursor: pointer;
    /* transition: background-color 0.3s ease-in; */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

